# Ignore everything except readme.md and images/
*
!.gitignore
!readme.md
!images/
!images/**
!model/
!model/**
!release_module/network/
!release_module/network/**
!release_module/decoder/transformers
!release_module/decoder/transformers/**
!release_module/decoder/utils
!release_module/decoder/utils/**    
!release_module/decoder/autoencoders
!release_module/decoder/autoencoders/**
!release_module/decoder/ptstextnet2.py

!app/segment/
!app/segment/**

